@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,600,600i,800,800i);

* {
	border: 0 none;
	box-sizing: border-box;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: middle;
}

a:link {
	color: #306;
	text-decoration: none;
}

a:visited {
	color: #306;
}

a:hover {
	color: #306;
	/*border-bottom: 1px solid;*/
}

a:active {
	color: #F00;
}

article {
	margin: 2% 2% 2% 0;
}

body {
	background: #ccc;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}

footer {
	background: #36c;
	clear: both;
	color: #fff;
	text-align: left;
}

header {
	margin: auto;
	width: 80%;
}

h1 {
	color: #36c;
	font-size: 2.1em;
	font-weight: 800;
	/*text-align: center;*/
	text-transform: uppercase;
}

h2 {
	color: #306;
	font-size: 1.3em;
	font-weight: 600;
}

h3 {
	color: #36c;
	font-style: italic;
	font-weight: 600;
}

hr {
	background: #306;
	border: none;
	height: 2px;
	margin: auto;
	width: 100%;
}

img {
	max-width: 100%;
}

nav {
	letter-spacing: .1em;
	text-align: left;
}

nav a {
	font-weight: 600;
	text-transform: uppercase;
}

nav a:hover {
	color: #36c;
}

p {
	line-height: 1.4em;
	max-width: 30em;
}

section {
	background: #e6e6e6;
	margin: auto;
	text-align: left;
}

section > section {
	background: #fff;
	width: 80%;
}

ul {
	line-height: 1.4em;
	list-style: none;
	padding: .3em;
}

/* IDs */

#contact {
	background: inherit;
	padding: 3.2em 0;
	margin-bottom: 6em;
	width: 80%;
}

#contact a {
	background: rgba(255,255,255,.5);
	border-radius: .6em;
	display: block;
	color: #fff;
	margin: .6em 0;
	padding: .6em;
}

#contact h1 {
	color: #fff;
}

#contact nav {
	padding: 0;
}

#contact nav a {
	/*margin-right: 1.6em;
    padding: .6em 0;*/
}

#contact nav a:hover {
	background: inherit;
	color: inherit;
	/*border-bottom: 1px solid;
	padding-bottom: .3em;*/
}

#education {
	background: #fff;
	padding: 1.6em 0;
	text-align: left;
}

#education > section {
	background: #fff;
	padding: .6em 0;
}

#experience {
	background: #fff;
	padding: 1.6em 0;
	max-width: 1200px;
	text-align: left;
}

#experience > section {
	background: #fff;
	padding: .6em 0;
	text-align: left;
}

#hero {
	background: url("../images/pano_highway_pano_crop.jpg");
	background-size: cover;
	height: 100vh;
	max-width: 100%;
	padding: .6em;
	text-align: center;
}

#hero h1 {
	background: rgba(51,0,105,.1);
	border-radius: .6em;
	/*background: rgba(242,242,242,.3);*/
	color: #fff;
	/*font-size: 1.6em;*/
	margin: .2em;
	padding: .4em;
	text-transform: none;
}

#logo {
	width: 62%;
}

#logo a:hover {
	background: none;
}

#logoType {

}

#logoWrapper {
/*	margin: .3em;*/
	width: 80%;
}

#mainNav {
	align-items: center;
	/*background: #306;*/
	background: rgba(242, 242, 242, .9);
	bottom: 1.6em;
	display: flex;
	font-size: .8em;
	height: 50px;
	justify-content: center;
	position: fixed;
	width: 100%;
}

#mainNav a {
	/*background: rgba(242, 242, 242, .9);*/
	/*border-radius: .6em;*/
	display: block;
	margin: 0 .2em;
	padding: .6em;
	text-align: center;
	width: 23%;
}

#manifesto {
	background: #fff;
	padding: 6em 0 1.6em;
}

#profileImg {
	
}

#profilePicWrapper {
	background: #fff;
}

#skills {
	background: #fff;
	padding: 1.6em 0;
	/*padding: 6em 0 1.6em;*/
}

#skills > section {
	padding: .6em 0;
}

#statement {
	width: 80%;
}

#statement p {
	/*color: #306;*/
	margin: auto;
	max-width: 30em;
	padding: .6em 0;
}

#talents {
	background: #fff;
	padding: 1.6em 0;
}

#talents > section {
	background: #fff;
	padding: .6em 0;
}

#topHeader {
	align-items: center;
	background: rgba(242, 242, 242, .96);
	display: flex;
	height: 75px;
	justify-content: center;
	position: fixed;
	top: 0;
	width: 100%;
}

#work {
	padding: 6em 0 1.6em;
}

#work > h1 {
	margin: auto;
	padding-bottom: .6em;
	width: 80%;
}

#work header {
	border-radius: .6em;
	display: flex;
	height: 100%;
	width: 100%;
}

#work header h1 {
	color: #fff;
	margin: auto;
	font-size: 1.4em;
}

#work > section {
	background-position: center;
	background-size: cover;
	border-radius: .6em;
	margin: 0 auto 2.1em;
	height: 21vh;
	text-align: center;
}

#workAnimation {
	background: orange;
}

#workEmail {
	background: green;
}

#workInteractive {
	/*background: navy; */
	background: url("../images/bg_interactive2.jpg");
}

#workInteractive header {
	background: rgba(0,26,138,.8);
}

#workMotion {
	/*background: orange;*/
	background: url("../images/bg_motion3.jpg");
}

#workMotion header {
	background: rgba(255,165,60,.8);
}

#workPrint {
	/*background: red;*/
	background: url("../images/bg_print.jpg");
}

#workPrint header {
	background: rgba(255,0,0,.6);	
}

#workProduction {
	background: green;
}

#workUX {
	/*background: purple;*/
	background: url("../images/bg_ux.png");
}

#workUX header {
	background: rgba(65,0,138,.85);
}

#workWeb {
	/*background: blue;*/
	background: url("../images/bg_web2.gif");
}

#workWeb header {
	background: rgba(0,66,255,.6);
}

/* CLASSES */

.borderLeftWhite {
	border-left: 1px solid white;
}

.borderRightWhite {
	border-right: 1px solid white;
}

.button {
	background: #36c;
	border-radius: .2em;
	color: #fff;
	display: block;
	margin: auto;
	padding: .3em;
	width: 95%;
}

.clearfix:after {
	content: " ";
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

.displayFlex {
	align-items: center;
	display: flex;
	justify-content: center;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.sectionDetail {
	display: none;
}

.workMarginTop {
	margin-top: 66px;
}

/***********/
/* QUERIES */
/***********/

@media only screen and (min-width: 640px) {
	#contact a {
		display: inline-block;
		padding: 1em 1.6em;
	}

	#logoType {
		height: 46px;
	}

	#work > section {
		height: 38vh;
		margin-bottom: 9vh;
		text-align: center;
	}

	#work header {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
	}
}

@media only screen and (min-width: 1000px) {
	#contact {
		margin-bottom: 0;
		max-width: 1200px;
	}

	#hero {
		background-attachment: fixed;
		background-size: cover;
		height: 62vh;
		margin-top: 101px;
		/*max-width: 1200px;*/
	}

	#mainNav {
		height: 35px;
		position: fixed;
		top: 75px;
	}

	#mainNav a {
		width: initial;
	}

	#work {
		max-width: 1200px;
	}

	#work > section {
		height: 38vh;
		margin-bottom: 16vh;
		max-width: 85%;
	}
}