@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,600,600i,800,800i);

* {
	border: 0 none;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid;
	padding-bottom: 2px;
}

/*UNIT 5 EDIT*/
article {
	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

body {
	background: #ccc;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
}

/*UNIT 5 EDIT*/
footer {
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	text-align: left;
}

footer a {
	color: #fff;
	margin-right: 1.6em;
}

footer h1 {
	color: #fff;
}

footer nav {
	text-align: left;
}

footer section {
	background: #306;
}

/*UNIT 5 EDIT*/
header {
	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

h1 {
	color: #306;
	font-size: 2.5em;
	font-weight: 800;
	padding: 0 0 .3em;
	text-transform: uppercase;
}

h2 {
	font-size: 1.6em;
	font-weight: 600;
	color: #36c;
}

h3 {
	font-size: 1.2em;
	font-style: italic;
	font-weight: 600;
	color: #306;
}

hr {
	border: none;
	height: 2px;
	background: #36c;
	width: 2em;
}

img {
	display: inline;
	padding: .5em 0;
}

main {
	background: #e6e6e6;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	max-width: 1200px;
}

/*UNIT 5 EDIT*/
nav {
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
	/*background: #330066;*/
	color: #fff;
	letter-spacing: 1.5px;
	/*padding: .6em 0;*/
	text-align: right;
}

nav a {
	color: #fff;
	font-weight: 600;
	margin-right: 1.6em;
	text-transform: uppercase;
}

p {
	line-height: 1.4em;
	max-width: 30em;
}

/*UNIT 5 EDIT*/
section {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
	background: #e6e6e6;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	/*padding: 1.6em;*/
	text-align: left;
}

ul {
	line-height: 1.4em;
	list-style: none;
	padding: 1em;
}

#experience {
	background: #fff;
	text-align: left;
}

#hero {
	align-items: center;
	background: url("../images/pano_highway_pano_crop.jpg");
	background-size: cover;
	display: flex;
	height: 100vh;
	justify-content: center;
	padding: 0;
	max-width: 100%;
}

#hero img {
	width: 33%;
}

#medium h1 {
	color: #36c;
	font-size: 2em;
	font-weight: 800;
}

#profile {
	color: #000;
}

#statement {
	background: #306;
}

#statement p {
	color: #fff;
	font-size: 2.5em;
}

#work section {
	padding-left: 0;
}

#workpiece h1 {
	color: #306;
	font-size: 1.75em;
	padding: .6em 0 0;
	text-transform: none;
}

#workpiece h2 {
	font-size: 1.25em;
	font-style: italic;
	font-weight: 600;
	text-transform: none;
}

#workpiece h3 {
	color: #555;
	font-size: 1em;
	font-style: normal;
	font-weight: 600;
}