* {
	margin: 0;
	padding: 0;
}

body {
	background: #ccc;
	font-family: Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
}

a {
	text-decoration: none;
}

footer {
	background: #306;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	max-width: 1200px;
}

footer a {
	color: #fff;
}

footer h1 {
	color: #fff;
}

h1 {
	color: #330066;
	font-weight: 800;
	padding-left: 20px;
	text-transform: uppercase;
}

h2 {
	color: #36c;
	padding-left: 20px;
}

h3 {
	color: #306;
	padding-left: 20px;
}

header {

}

img {

}

main {
	background: #e6e6e6;
	margin-left: auto;
    margin-right: auto;
	text-align: left;
	max-width: 1200px;
}

nav {
	background: #330066;
	color: #fff;
	padding: 10px;
}

nav a {
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}

nav ul {
	list-style: none;
}

p {
	padding-left: 20px;
}

section {
	background: #e6e6e6;
	margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    text-align: left;
}

ul {
	list-style: none;
	padding-left: 20px;
}

#hero {
	align-items: center;
	background: url("../images/pano_highway_pano_crop.jpg");
	background-size: cover;
	display: flex;
	height: 600px;
	justify-content: center;
}

#profile {
	color: #000;
}